@mixin colors($max-count, $color-frequency){
  $color: 360/$max-count;
  
  @for $i from 1 through $max-count {
    &:nth-last-child(#{$max-count}n + #{$i}) {
      background: hsl(($i - 1)*($color / $color-frequency), 80%, 50%);
      /*color: hsl(($i - 1)*($color / $color-frequency), 80%, 50%);*/
      color: white;
    }
  }
}


 
section {
  display: inline-block;
  width: 100%;


}

ul {
  width: 100%;

  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  perspective: 400px;

  li {
    position: relative;
    background: #eee;
    color: #252525;
    font-size: 14px;
    z-index: 2;
    padding:1em 0 1em 2em;
    transform: translateZ(0px);
    @include colors(50,1); 
    text-align: left;
    /*flex-grow:1;*/
    box-shadow:0 -5px 10px rgba(black, .05);
    transition:all .2s ease-out;
     &:hover{
      background-color: #383030;
      color:white; 
     }
     span{
      display:inline;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1.2em;
      text-shadow: 1px 1px 5px rgba(64, 64, 64, 0.8);
      margin-left: 9px;
     }
  } 
}

.fly-reverse {
  perspective: 400px;
  perspective-origin: 50% 50%;
    li {
      transition: all 600ms ease, opacity 300ms ease;
      transform-origin: 50% 50% -50px;

      &.past {
        opacity: 0;
        transform: rotateX( -180deg );
      }
      &.future {
        opacity: 0;
        transform: rotateX( 180deg );
      }
    }
  }










  /* Made by Jimmy Gillam */
$checked-color: #34b93d;
$unchecked-color: white;
$checkbox-height: 25px;
$background-color:#667788;
$font-color:#efefef;
$duration: .3s;
  

/* Checkmark style starts */

@-moz-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: $checkbox-height/2; }
}

@-webkit-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: $checkbox-height/2; }
}

@keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: $checkbox-height/2;  }
}

@keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}
@-webkit-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}
@-moz-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}

input[type=checkbox]{
    display:none;
}

.check-box {
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * .1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease $duration/2;
    -o-transition: border-color ease $duration/2;
    -webkit-transition: border-color ease $duration/2;
    transition: border-color ease $duration/2;
    cursor:pointer;
    vertical-align: middle;

    &::before, &::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: $checkbox-height * .2;
        background-color: $checked-color;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease .5;
        -moz-transition: opacity ease .5;
        transition: opacity ease .5;
    }

    &::before {
        top:$checkbox-height * .72;
        left: $checkbox-height * .41;
        /*box-shadow: 0 0 0 $checkbox-height * .05 $background-color;*/
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    &::after {
        top: $checkbox-height * .37;
        left: $checkbox-height * .05;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    } 
}

input[type=checkbox]:checked + .check-box,
.check-box.checked{
    border-color:$checked-color;
    
    &::after{
        height: $checkbox-height * .5;
        -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
        -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
        -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
        animation: dothabottomcheck $duration/2 ease 0s forwards;
    }
     
    &::before{
        height: $checkbox-height * 1.2;
        -moz-animation: dothatopcheck $duration ease 0s forwards;
        -o-animation: dothatopcheck $duration ease 0s forwards;
        -webkit-animation: dothatopcheck $duration ease 0s forwards;
        animation: dothatopcheck $duration ease 0s forwards;
    }
}

.navtop{    
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    height: 56px;
    background: #4285f4;

} 

$verde:#0b8c4d;
$verdeBk:#0f9d58;
$verdeBorder:#0a8449;

form {
   transition:all linear 0.5s;
    background: #0f9d58;
   height: 56px;
   .form-control{
      background:#2e7d32;
      border-color: #30b537;
      transition:all linear 0.5s;
       &:focus {
        border-color: #40b946;
        outline: 0;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(49, 171, 56);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(49, 171, 56);
        }
    }
    .btn-warning {
      color: #fff;
      background-color: rgba(51, 154, 57, 0.81);
      border-color: #30b537;
      font-weight: bold;
      transition:all linear 0.5s;
    }
  .btn-default {
      color: white;
      background-color: rgba(51, 154, 57, 0.81);
      border-color: #30b537;
      transition:all linear 0.5s;
    }
 }
form.ng-invalid {
   background: #4285f4;
    height: 56px;
    transition:all linear 0.5s;
    .form-control{
      border: 1px solid #2b64c1;
      background:#2b64c1;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      }

    }
    .btn-warning {
    color: #fff;
    background-color: rgba(43, 100, 193, 0.63);
    border-color: #2b64c1;
    font-weight: bold; 
    transition:all linear 0.5s;
  }
    .btn-default {
      color: white;
      background-color: #2b64c1;
      border-color: #2b64c1;
      transition:all linear 0.5s;
    }   

 }
#todo-list{
  margin-top:56px;
}
.navbar-default{
  border: none;
  border-radius: 0;
  background: transparent;
}
.navbar{
  margin-bottom: 1210px;
  padding-top: 10px
}
.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    background:red;
}

.form-control {
    color: #fff;
    background-color: #2b64c1;
    border: 1px solid #2b64c1;
}
 

.btn-default:hover {
    color: #fff;
    background-color: #2b64c1;
    border-color: #2b64c1;
}


