meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-\
scalable=no')
meta(name='theme-color', content='#4285f4')
link(rel='stylesheet', href='assets/css/font.css')
link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
title Lembretes com Node Angular MonAPI J
link(rel='stylesheet', href='assets/css/application.css')
//link(rel='stylesheet', href='assets/css/style-list.css'<!--  -->)
script(src='assets/js/application.js')